<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipes</title>
</head>
<body>
    <h1>All Recipes</h1>
    <ul>
        <% for(let recipe of allRecipes) { %>
            <p><a href="/recipes/<%= recipe._id %>"><%= recipe.title %></a></p>
            <img src="<%= recipe.image %>">
        <% } %>
    </ul>
    <a href="/recipes/new">Create New Recipe</a>
</body>
</html>