<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Recipe</title>
</head>
<body>
    <h1>Create New Recipe</h1>
    <form action="/recipes" method="POST">
        <div>
            <label for="title">Title</label>
            <input id="title" placeholder="title" name="recipe[title]">
        </div>
        <div>
            <label for="ingredients">Ingredients</label>
            <textarea id="ingredients" name="recipe[ingredients]" placeholder="ingredients" rows="5" cols="50"></textarea>
        </div>
        <div>
            <label for="cookingInstruction">Cooking Instruction</label>
            <textarea id="cookingInstruction" name="recipe[cookingInstruction]" placeholder="cookingInstruction" rows="10" cols="50"></textarea>
        </div>
        <div>
            <label for="difficultyLevel">Difficulty Level</label>
            <select id="difficultyLevel" name="recipe[difficultyLevel]">
                <% for(let level of difficultyLevelEnum) { %>
                    <option value="<%= level %>"><%= level %></option>
                <% } %>
            </select>
        </div>
        <div>
            <label for="category">Category</label>
            <select id="category" name="recipe[category]">
                <% for(let category of categoryEnum) { %>
                    <option value="<%= category %>"><%= category %></option>
            <% } %>
            </select>
        </div>
        <div>
            <label for="image">Image</label>
            <input id="image" placeholder="image" name="recipe[image]">
        </div>
        <div>
            <label for="price">Price</label>
            <input id="price" placeholder="price" name="recipe[price]">
        </div>
        <button>Submit</button>
        <a href="/recipes">Main Page</a>
    </form>
</body>
</html>