<%- include('partials/head') %>
<body>
    <h1>Home Page <%='hello world'.toUpperCase()%></h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. In iste esse repellat numquam, est eum earum a, quae itaque libero, placeat minima facere? Expedita, animi laborum? Ducimus soluta at atque.</p>
</body>
</html>