<%- include('partials/head')%>
<body>
    <%- include('partials/navbar')%>
    <h1><%= rand %></h1> //num
    <% if(rand % 2 === 0) { %>
    <h2>is even number</h2>
    <% } else { %>
    <h2>is odd number</h2>
    <% } %>
    <h3><%= rand % 2 === 0 ? 'even' : 'odd' %></h3>
</body>
</html>